html,body{
    height:100%; width:100%; margin:0;padding:0;
}
/* 启动页 */
.bg_start{
    width:100%;
    height:812px;
    background: url(/images/login/login.jpg) no-repeat;
    background-size: 100% 100%;
    position: fixed;
    top:0;right:0;
    position: 'absolute';
    bottom: '0px';
}
.bg_title{
    position: absolute;
    top:10%;
    width:100%;
    height:200px;
    padding:20% 20%;
}
.title{
    width: 13%;
    height:120px;
    line-height:60px;
    color: #fff;
    margin:0 auto;
    font-size: 55px;
    font-family: 'Courier New', Courier, monospace;
}
.btns{
    position: absolute;
    bottom: 30%; 
    width:100%;
    height: 15%;
    text-align:center;
}
.btn{
    width:270px;
    height:35px;
    opacity: 0.6;
    border:1px solid gray;
    border-radius: 10px;
    margin-bottom: 20px;
    font-size:16px;
}
/* 登录 注册 修改密码*/
.bg_login{
    width:100%;
    height:812px;
    background: url(/images/login/login.jpg) no-repeat;
    background-size:100% 100%;
    position: fixed;
    top:0;right:0;
    position: 'absolute';
    bottom: '0px';
}
.bg_register{
    width:100%;
    height:812px;
    background: url(/images/login/login.jpg) no-repeat;
    background-size:100% 100%;
    position: fixed;
    top:0;right:0;
}
.reset_pwd{
    width:100%;
    height:812px;
    background: url(/images/login/login.jpg) no-repeat;
    background-size:100% 100%;
    position:fixed;
    padding-top:0;right:0;
}
.form_login,.form_resetpwd{
    position: absolute;
    top:200px;
    left:0;
    width:100%;
    height:300px;
}
.form_login form{
    width:310px;
    height:300px;
    margin: 0 auto;
}
.wraper{
    width:330px;
    height:40px;
    margin-bottom: 30px;
}
.wraper img{
    float:left;
    width:30px;
    height:30px;
    margin-right:10px;
    padding:4px 0;
}
.wraper input{
    width:250px;
    height:36px;
    font-size: 16px;
    padding:0 7px;
    border:1px solid white;
    border-radius: 5px;
}
.sub_btn{
    width:270px;
    height:80px;
    margin: 0 auto;
}
.sub_btn input{
    width:270px;
    height:40px;
    margin-top:40px;
    font-size: 16px;
    border-radius: 5px;
    opacity: 0.55;
    border:1px solid gray;
    background-color: #fff;
}
.form_register{
    position: absolute;
    top:200px;
    left:0;
    width:100%;
    height:300px;
}
.wraper_register{
    width:400px;
    height:40px;
    margin-bottom: 30px;
}
.form_register form{
    width:300px;
    height:300px;
    margin:0 auto;
}
.wraper_register img{
    float:left;
    width:30px;
    height:30px;
    margin-right:10px;
    padding:4px 0;
}
.wraper_register input{
    width:230px;
    height:36px;
    font-size: 16px;
    padding:0 7px;
    border-radius: 5px;
    border:1px solid #fff;
}
.sub_btn2{
    width:270px;
    height:80px;
    margin: 0 auto;
}
.sub_btn2 input{
    width:270px;
    height:40px;
    margin-top:16px;
    font-size: 16px;
    border-radius: 5px;
    opacity: 0.55;
    border:1px solid gray;
    background-color: #fff;
}
.form_resetpwd form{
    width:310px;
    height:300px;
    margin:0 auto;
}
.wraper_resetpwd{
    width:330px;
    height:40px;
    margin-bottom: 30px;
}
.wraper_resetpwd img{
    float:left;
    width:30px;
    height:30px;
    margin-right:10px;
    padding:4px 0;
}
.wraper_resetpwd input{
    width:250px;
    height:36px;
    font-size: 16px;
    padding:0 7px;
    border:1px solid white; 
    border-radius: 5px;
}
#btn{
    width: 120px;
    height: 36px;
    font-size: 16px;
    padding:0 7px;
    margin-left: 15px;
    border:1px solid white; 
    border-radius: 5px;
}