html,body{
    
    height: 100%;width: 100%;overflow: hidden;margin: 0;padding: 0;
}
.date-picker-list .am-list-item .am-list-line .am-list-extra {
    flex-basis: initial;
    background-color: rgba(255, 255, 255, 0.6)!important;
}
.am-accordion .am-accordion-item .am-accordion-header{
    background-color: rgba(255, 255, 255, 0.6)!important;
}
.am-list-item{
    /* 强制更改样式 */
    background-color: rgba(255, 255, 255, 0.6)!important;
}
.am-list-body{
    background-color: rgba(255, 255, 255, 0.6)!important;

}
.am-accordion .am-accordion-item .am-accordion-content .am-accordion-content-box{
    background: rgba(0,0,0, 0.6);

}

